body {
	font-family: sans-serif;
	line-height: 1.4;
}

.page-size-wrap {
	width: 1024px;
	margin: 0 auto;
}

.header-wrap {
	background: black;
}

header {
	box-sizing: border-box;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	height: 40px;
	/*margin-top: calc(30px - 20px);*/
}

nav {
	color: white;
}

nav ul li {
	display: inline-block;
	margin-left: 12px;
}
nav ul li:first-child {
	margin-left: 0;
}
